.navbar-fixed-top,
.navbar-fixed-bottom {
    .navbar-collapse {
        max-height: $navbar-collapse__max-height;

        @media (max-device-width: $screen-xs-min) and (orientation: landscape) {
            max-height: 200px;
        }
    }
}


.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    z-index: $zindex-navbar-fixed;
    right: 0;
    left: 0;

    @media (min-width:           $grid-float-breakpoint) {
        border-radius: 0;
    }
}

.navbar-fixed-top {
    top: 0;

    border-width: 0 0 $one__pixel;
}

.navbar-fixed-bottom {
    bottom: 0;

    margin-bottom: 0;

    border-width: $one__pixel 0 0;
}
