//  Navbar Dropdown Menu
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    margin-bottom: 0;

    border: $navbar__radius $navbar__radius 0 0;
}

