.well-lg {
    padding: $well--lg__padding;

    border-radius: $well--lg__radius;
}

.well-sm {
    padding: $well--sm__padding;

    border-radius: $well--sm__radius;
}

.well-xs {
    padding: $well--xs__padding;

    border-radius: $well--xs__radius;
}
