.display-1 {
    font-size: $display-1__font-size;
}
.display-2 {
    font-size: $display-2__font-size;
}
.display-3 {
    font-size: $display-3__font-size;
}
.display-4 {
    font-size: $display-4__font-size;
}
