.modal-content {
    position: relative;

    border: $one__pixel solid $modal-content__border;
    border-radius: $modal-content__radius;
    outline: 0;
    background-color: $modal-content__bg;
    background-clip: padding-box;
    box-shadow: $modal-content__shadow;
}

