.input-group-btn {
    font-size: 0;

    position: relative;

    white-space: nowrap;

    > .btn {
        position: relative;

        @include rhythm-actual-rem(font-size, 1);
        + .btn {
            margin-left: $one__pixel * -1;
        }

        &:hover,
        &:focus,
        &:active {
            z-index: 2;
        }
    }

    &:first-child {
        > .btn,
        > .btn-group {
            margin-right: $one__pixel * -1;
        }
    }

    &:last-child {
        > .btn,
        > .btn-group {
            z-index: 2;

            margin-left: $one__pixel * -1;
        }
    }
}

