%card-block {
    display: block;
}

.card-img {
    border-radius: $card__radius;
    @extend %card-block;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: $card-img-overlay__padding;

    background-color: $card-img-overlay__bg;
}

.card-img-top {
    border-radius: $card__radius $card__radius 0 0;
    @extend %card-block;
}

.card-img-bottom {
    border-radius: 0 0 $card__radius $card__radius;
    @extend %card-block;
}

