$card-spacer-x: 1.25rem;
$card-spacer-y: 0.75rem;

//  Card Base
.card {
    position: relative;

    margin-bottom: $card__vertical-rhythm;

    border: $one__pixel solid $card__border;
    border-radius: $card__radius;

}

//  Card Block
.card-block {
    padding: $card-block__padding;

    box-sizing: border-box;
}

//  Card Title
.card-title {
    margin-top: 0;
    margin-bottom: $card-title__vertical-rhythm;
}

//  Card SubTitle
.card-subtitle {
    margin-top: $card-subtitle__vertical-rhythm;
    margin-bottom: 0;
}

//  Card Text
.card-text:last-child {
    margin-bottom: 0;
}

//  Card Actions
// .card-actions {
//   padding: $card-spacer-y $card-spacer-x;

//   .card-link + .card-link {
//     margin-left: $card-spacer-x;
//   }
// }

//  Card Link
.card-link {
    &:hover {
        text-decoration: none;
    }

    + .card-link {
        margin-left: $card-spacer-x;
    }
}

//  Card with List Group
.card {

    .list-group-item {
        padding-right: $card__list-group-item__padding;
        padding-left: $card__list-group-item__padding;

        border-right: 0 none;
        border-left: 0 none;
        &:first-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        &:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    > .list-group:first-child {
        .list-group-item:first-child {
            @include border-radius($card__radius $card__radius 0 0);
        }
    }

    > .list-group:last-child {
        .list-group-item:last-child {
            @include border-radius(0 0 $card__radius $card__radius);
        }
    }
}

//  Card Header
.card-header {
    padding: $card-header__padding;

    border-bottom: $one__pixel solid $card__border;
    background-color: $card-header__bg;

    &:first-child {
        @include border-radius($card-header__radius);
    }
}

//  Card Footer
.card-footer {
    padding: $card-spacer-y $card-spacer-x;

    border-top: $one__pixel solid $card__border;
    background-color: $card-footer__bg;

    &:last-child {
        @include border-radius($card-footer__radius);
    }
}

//  Card Variations
.card-inverse {
    @include card-variant($card--inverse__bg);
}
.card-primary {
    @include card-variant($card--primary__bg);
}
.card-success {
    @include card-variant($card--success__bg);
}
.card-info {
    @include card-variant($card--info__bg);
}
.card-warning {
    @include card-variant($card--warning__bg);
}
.card-danger {
    @include card-variant($card--danger__bg);
}

//.card-inverse {
//    background-color:   $card-inverse__bg;
//    border-color:       $card-inverse__border;
//
//    .card-header,
//    .card-footer {
//        border-bottom: $one__pixel solid rgba(255,255,255,.2);
//    }
//    .card-header,
//    .card-footer,
//    .card-title,
//    .card-blockquote {
//        color: #fff;
//    }
//    .card-link,
//    .card-text,
//    .card-blockquote > footer {
//        color: rgba(255,255,255,.65);
//    }
//    .card-link {
//        &:hover,
//        &:focus {
//            color: #fff;
//        }
//    }
//}

//  Card Blockquote
.card-blockquote {
    margin-bottom: 0;
    padding: 0;

    border-left: 0;
}

%card-block {
    display: block;
}

//  Card Image
.card-img {
    @include border-radius($card__radius);
    @extend %card-block;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 1.25rem;

    background-color: $card-img-overlay__bg;
}

.card-img-top {
    border-radius: $card__radius $card__radius 0 0;
    @extend %card-block;
}

.card-img-bottom {
    border-radius: 0 0 $card__radius $card__radius;
    @extend %card-block;
}

//  Card Deck
.card-deck {
    display: table;

    table-layout: fixed;
    border-spacing: 1.25rem 0;

    .card {
        display: table-cell;

        width: 1%;

        vertical-align: top;
    }
}
.card-deck-wrapper {
    margin-right: -1.25rem;
    margin-left: -1.25rem;
}

//  Card Group
.card-group {
    display: table;

    width: 100%;

    table-layout: fixed;

    .card {
        display: table-cell;

        vertical-align: top;

        + .card {
            margin-left: 0;

            border-left: 0;
        }

        &:first-child {
            .card-img-top {
                border-top-right-radius: 0;
            }
            .card-img-bottom {
                border-bottom-right-radius: 0;
            }
        }
        &:last-child {
            .card-img-top {
                border-top-left-radius: 0;
            }
            .card-img-bottom {
                border-bottom-left-radius: 0;
            }
        }

        %no-border-radius {
            border-radius: 0;
        }

        &:not(:first-child):not(:last-child) {
            @extend %no-border-radius;

            .card-img-top,
            .card-img-bottom {
                @extend %no-border-radius;
            }
        }
    }
}

//  Card Columns
.card-columns {
    column-count: 3;
    column-gap: 1.25rem;

    .card {
        display: inline-block;

        width: 100%; // Don't let them exceed the column width
    }
}
