/scss/  Tooltip
.tooltip {
    font-size: $tooltip__font-size;

    position: absolute;
    z-index: $zindex-tooltip;

    display: block;

    @include opacity(0);

    &.in {
        @include opacity($tooltip__opacity);
    }

    &.tooltip-top,
    &.bs-tether-element-attached-bottom {
        padding: $tooltip__arrow__width 0;
        margin-top: -3px;

        .tooltip-arrow {
            bottom: 0;
            left: 50%;
            margin-left: -$tooltip__arrow__width;
            border-width: $tooltip__arrow__width $tooltip__arrow__width 0;
            border-top-color: $tooltip__arrow__color;
        }
    }
    &.tooltip-right,
    &.bs-tether-element-attached-left {
        padding: 0 $tooltip__arrow__width;
        margin-left: 3px;

        .tooltip-arrow {
            top: 50%;
            left: 0;
            margin-top: -$tooltip__arrow__width;
            border-width: $tooltip__arrow__width $tooltip__arrow__width $tooltip__arrow__width 0;
            border-right-color: $tooltip__arrow__color;
        }
    }
    &.tooltip-bottom,
    &.bs-tether-element-attached-top {
        padding: $tooltip__arrow__width 0;
        margin-top: 3px;

        .tooltip-arrow {
            top: 0;
            left: 50%;
            margin-left: -$tooltip__arrow__width;
            border-width: 0 $tooltip__arrow__width $tooltip__arrow__width;
            border-bottom-color: $tooltip__arrow__color;
        }
    }
    &.tooltip-left,
    &.bs-tether-element-attached-right {
        padding: 0 $tooltip__arrow__width;
        margin-left: -3px;

        .tooltip-arrow {
            top: 50%;
            right: 0;
            margin-top: -$tooltip__arrow__width;
            border-width: $tooltip__arrow__width 0 $tooltip__arrow__width $tooltip__arrow__width;
            border-left-color: $tooltip__arrow__color;
        }
    }
}

//  Tooltip Inner
.tooltip-inner {
    max-width: $tooltip-inner__max-width;
    padding: $tooltip-inner__padding;

    text-align: center;

    color: $tooltip-inner__color;
    border-radius: $tooltip-inner__radius;
    background-color: $tooltip-inner__bg;
}

//  Tooltip Arrow
.tooltip-arrow {
    position: absolute;

    width: 0;
    height: 0;

    border-style: solid;
    border-color: transparent;
}

