.btn-group > .btn + .dropdown-toggle {
    padding-right: $btn-group__dropdown-toggle__padding;
    padding-left: $btn-group__dropdown-toggle__padding;
}

.btn-group.open .dropdown-toggle {
    box-shadow: $btn-group__dropdown-toggle--active__shadow;
    &.btn-link {
        box-shadow: none;
    }
}

.btn .caret {
    margin-left: 0;
}

.btn-lg .caret {
    border-width: $caret__width-large $caret__width-large 0;
    border-bottom-width: 0;
}

.dropup .btn-lg .caret {
    border-width: 0 $caret__width-large $caret__width-large;
}
